/* CSS BY JEREMY SCOTT */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/*CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', serif;
	background-color: var(--midnight-blue);
    color: var(--soft-white);
	line-height: 1.6;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* layout styles */

/* header */ 
header {
	text-align: center;
	padding: 2rem 0 0;
}

header img {
	max-width: 150px;
	margin: 0 auto 1rem;
}

.tag {
	margin: 0.75rem 0 1rem;
	font-style: italic;
	font-size: 0.9rem;
}

h1 {
	font-size: 2.8rem;
	font-weight: bold;
}

/* main nav */
nav {
	background-color: var(--champagne-gold);
	padding: 0.65rem;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 3rem;
}

nav li {
	display: inline;
}

nav a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.25rem;
	color: var(--dark-charcoal);
}

/* main sections */

section {
	background-color: var(--soft-white);
	margin: 0;
	padding: 2rem 1rem;
	color: var(--dark-charcoal);
	border-bottom: 2px solid var(--champagne-gold);
}

h2 {
	color: var(--midnight-blue);
	font-size: 1.8rem;
}

h3 {
	color: var(--soft-white);
	font-size: 1.4rem;
	font-weight: bold;
}

.offerings {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
}

.offerings article {
	background-color: var(--olive-green);
	padding: 1rem;
	border-radius: 6px;
	color: var(--soft-white);
	box-shadow: 0 4px 6px var(--dark-charcoal);
}

.offerings article > ul {
	list-style: inside;
}

/* gallery */
.gallery ul {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.25rem;
	margin-top: 1rem;
}

.gallery li {
	list-style: none;
}

.gallery figure {
	background-color: var(--linen);
	padding-bottom: 0.25rem;
	border-radius: 6px;
	box-shadow: 0 4px 6px silver;
}

.gallery figcaption {
	text-align: center;
	font-style: italic;
	font-size: 0.85rem;
	margin: 0.5rem;
}

.gallery a {
	display: block;
	background-color: var(--olive-green);
	color: var(--linen);
	text-align: center;
	padding: 0.65rem;
	margin-top: 1rem;
	border-radius: 6px;
	text-decoration: none;
	font-weight: bold;
}

/* footer */

footer {
	background-color: var(--midnight-blue);
	margin: 0;
	padding-bottom: 1.5rem;
}

footer address {
	text-align: center;
	padding: 2rem;
}

footer nav a {
	color: var(--soft-white);
	text-decoration: none;
	font-size: 0.8rem;
}

footer nav {
	margin-top: 1rem;
	background-color: transparent;
}

footer nav ul {
	display: flex;
	justify-content: center;
	gap: 0.25rem;
}

footer nav li {
	color: var(--soft-white);
}


/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){
	.offerings {
		grid-template-columns: 1fr 1fr;
	} 

	.artisan {
		grid-column: 1;
	}

	.monthly-basket {
		grid-column: 1 / -1;
	}

	.gallery ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){
	.offerings {
		grid-template-columns: 1fr 1fr;
	} 

	.artisan {
		grid-column: 1;
	}

	.monthly-basket {
		grid-column: 1 / -1;
	}

	.gallery ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px){
	.gallery ul {
		grid-template-columns: repeat(5, 1fr);
	}

	section {
		max-width: 1200px;
		background-color: var(--soft-white);
		margin: auto;
	}
}
